@keyframes cardEnter {
    0% {
        opacity: 0;
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

&.is-entering {
    opacity: 0;
    transform: scale(.9);
    animation: cardEnter .5s forwards; 
}
.profileImgContainer {
    &.darkMode {
        background-color: #4c2a4c;
    }
    background-color: lightpink;
    padding: 25px;
    width: 200px;
    padding-bottom: 10px;
    border-radius: 25px;
    margin-right: 50px;

}
.profileImg {
    width:200px;
}
.profileName {
    position: relative;
}
