.section {
    &.darkMode {
        background-color: #795b7a;
        color: white;
    };
    background-color: papayawhip;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    
}
.container {
    margin: 0px;
    padding: 0px;
    justify-content: center;
}